{% extends "base.html" %}

{% block css %}
    #packet_details{
        height: 95vh;
        overflow: scroll;
    }
{% endblock %}

{% block body %}
<div
        id="net"
        class="container text-center"
        hx-ext="sse"
        sse-connect="/events?portnum=1"
    >
    <div class="row">
        <div class="col-6" id="packet_list" sse-swap="net_packet" hx-swap="afterbegin">
            {% for packet in net_packets %}
            {% include 'net_packet.html' %}
            {% endfor %}
        </div>
        <div class="col-6 sticky-top" id="packet_details">
        </div>
    </div>
</div>
{% endblock body %}
