{% extends "base.html" %}

{% block head %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

{% block css %}
    #map{
        height:90%;
    }
{% endblock %}

{% block body %}

{% include "search_form.html" %}
<div id="node" class="container text-center">
    <div class="container"
         {% if node %}
         hx-ext="sse"
         sse-connect="/events?node_id={{node_id}}{% if portnum %}&portnum={{portnum}}{% endif %}">
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="card text-white bg-primary mb-3" id="node_info">
                    {% if node %}
                    <div class="card-header">
                        {{node.long_name}} ({{node.node_id|node_id_to_hex}})
                    </div>
                    <div class="card-body">
                        <dl class="card-body">
                            <dt>short name</dt>
                            <dd>{{node.short_name}}</dd>
                            <dt>hw model</dt>
                            <dd>{{node.hw_model}}</dd>
                        </dl>
                    </div>
                    {% else %}
                    <div class="card-body">
                    A NodeInfo has not been seen.
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div id="map"/>
            </div>

        </div>

        <div class="row">
            <div class="col">
            {% include "buttons.html" %}
            </div>
        </div>

        <div class="row">
            {% include 'packet_list.html' %}
            <div class="col-6 sticky-top pt-4" id="packet_details" style="height: 95vh; overflow: scroll">
            </div>
        </div>
    </div>
</div>

{% if position and position.raw_payload.latitude_i %}
<script>
    var pos = [{{position.raw_payload.latitude_i * 1e-7}}, {{position.raw_payload.longitude_i * 1e-7}}];
    var map = L.map('map').setView(pos, 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var marker = L.marker(pos).addTo(map);
</script>
{% endif %}

{% endblock %}
