{% extends "base.html" %}
{% block css %}

    /* Set the maximum width of the page to 900px */
    .container {
        max-width: 900px;
        margin: 0 auto; /* Center the content horizontally */
    }
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div>
                {% include 'packet.html' %}
            </div>
            <div
                id="packet_details"
                hx-get="/packet_details/{{packet.id}}"
                hx-trigger="load"
            >
            </div>
        </div>
    </div>
{% endblock %}
